<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/pickleball/css/base.css">
    <link rel="stylesheet" href="/pickleball/css/blog.css">

</head>
<body><div th:replace="fragments/header :: header"></div>

     <div class="container">
        <div class="container__background">
            <img src="/pickleball/images/bblog.jpg" alt="background">
        </div>
        <div class="container__content">
                <h1>BLOG | KING PICKLEBALL VN</h1>
        </div>

        <div class="container__blog">
            <div class="container__blog--row">
                <div class="blog--row--img "><img src="/pickleball/images/tintuc1.png" alt="tintuc"></div>
                <div class="blog--row-content">
                    <h1>Cultivating Community and Skill: How Paul Bateman's Rockland County Program Thrives with Engage</h1>
                    <p style="font-size: 14px; font-weight:lighter; padding-bottom: 10px; ">Lean Eleonor Tuazon Feb 05, 2025</p>
                    <p>In Rockland County, New York, a unique and highly successful pickleball program is making waves as the county's only Adult Education offering for the sport. At the heart of this program is Head Instructor Paul...</p>
                    <a href="https://engagepickleball.com/blogs/news-product-highlights/paul-batemans-rockland-county-program"><button>READ MORE</button></a>
                </div>
            </div>

            <div class="container__blog--row">
                <div class="blog--row--img "><img src="/pickleball/images/unnamed_8ccb5857-b8c9-4115-9920-995d4be7612d.webp" alt="tintuc"></div>
                <div class="blog--row-content">
                    <h1>Beyond the Win: Nick's Inspiring Partnership with Camden Raboin</h1>
                    <p style="font-size: 14px; font-weight:lighter; padding-bottom: 10px; ">Lean Eleonor Tuazon Feb 05, 2025</p>
                    <p>Veteran player Nick Wittendorf joined forces with 14-year-old phenom Camden Raboin at the '8.2 DUPR Moneyball' tournament, proving that age is just a number in pickleball.  Camden's dominant performance and Nick's supportive role created a winning combination. 'He was a force,' Nick said about his young partner. Discover how this dynamic duo conquered the court and took home the gold.</p>
                    <a href="https://engagepickleball.com/blogs/news-product-highlights/nick-and-camden-a-dynamic-duo-at-the-8-2-dupr-moneyball"><button>READ MORE</button></a>
                </div>
            </div>

            <div class="container__blog--row">
                <div class="blog--row--img "><img src="/pickleball/images/Nick_Rachel.webp" alt="tintuc"></div>
                <div class="blog--row-content">
                    <h1>Love All Tournament - A Golden Comeback for Rachel and Nick</h1>
                    <p style="font-size: 14px; font-weight:lighter; padding-bottom: 10px; ">Lean Eleonor Tuazon Feb 05, 2025</p>
                    <p>After a four-year break from competitive pickleball, Rachel Elliott teamed up with Nick Wittendorf to capture gold at the Orlando Racket Sports - Love All Tournament.  This heartwarming comeback story highlights the power of teamwork and the thrill of returning to the game.  'I didn't cry, haha, but I definitely felt a bit emotional winning my first tournament back!' Rachel shared. Read the full story to learn about their journey to victory and how their strategic partnership led them to the top of the podium.</p>
                    <a href="https://engagepickleball.com/blogs/news-product-highlights/love-all-tournament-a-golden-comeback-for-rachel-and-nick"><button>READ MORE</button></a>
                </div>
            </div>

            <div class="container__blog--row">
                <div class="blog--row--img "><img src="/pickleball/images/240412_PPA_Houston_Day_2-Mauricio-Paiz-0990.webp" alt="tintuc"></div>
                <div class="blog--row-content">
                    <h1>Jessie Irvine's Exciting Journey on the PPA Tour</h1>
                    <p style="font-size: 14px; font-weight:lighter; padding-bottom: 10px; ">Lean Eleonor Tuazon Feb 05, 2025</p>
                    <p>Get ready to dive into the thrilling world of professional pickleball with TeamEngage player Jessie Irvine! She's been lighting up the court with her pro pickleball rackets and giving us a glimpse of her adventures...</p>
                    <a href="https://engagepickleball.com/blogs/news-product-highlights/jessie-irvines-exciting-journey-on-the-ppa-tour"><button>READ MORE</button></a>
                </div>
            </div>
        </div>

        <div class="pagination">
            <button class="page-btn prev" disabled>
                <span>&lt;</span>
            </button>

            <div class="page-numbers">
                <span class="page-number active">1</span>
                <a href="#"><span class="page-number">2</span></a>
            </div>
            <a href="#">
                 <button class="page-btn next">
                <span>&gt;</span>
            </button>
            </a>
           
        </div>

    </div>    <div th:replace="fragments/footer :: footer"></div>

    
</body>
</html>