<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickleball Skill Assessment </title>
    <link rel="stylesheet" href="/pickleball/css/survey.css">
    
</head>
<body>
    <div class="survey-container">
        <!-- <div class="language-switcher">
            <button id="langVi" class="active">Tiếng Việt</button>
            <button id="langEn">English</button>
        </div> -->
        
        <h1 id="surveyTitle">Pickleball Skill Assessment</h1>
        
     <form id="pickleballSurvey" method="post" th:action="@{/survey}">
    <div th:each="question, qStat : ${questions}" class="question">
        <div class="question-title" th:text="${question.content}"></div>
        <div class="options">
            <label th:each="option : ${question.options}">
                <input type="radio"
                    th:name="${question.key}"
                    th:value="${option.value}"
                    th:attr="required=${qStat.index == 0}" />
                <span th:text="${option.content}"></span>
            </label>
        </div>
    </div>

    <!-- Câu hỏi chọn vai trò mặc định HTML -->
    <div class="question">
        <div class="question-title">Please confirm your role:</div>
        <div class="options">
            <label>
                <input type="radio" name="role" value="student" required />
                <span>I am a Student  </span>
            </label>
            <label>
                <input type="radio" name="role" value="coach" required />
                <span>I am a Coach</span>
            </label>
        </div>
    </div>

    <button type="submit" id="submitBtn">Gửi Đánh Giá</button>
</form>
    <script src="/pickleball/js/survey.js"></script>
</body>
</html>