<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structured Learning</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/structured_learning.css">
</head>
<body> <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div class="container__title">
            <h1>Structured Learning</h1>
            <p>To get a head start, you should focus on a **pickleball** learning path. For example, to play Pickleball well, you should<br> focus  on the "Basic Technique" path first.</p>
        </div>
        <div class="container__content">
            <div class="content__card">
                <div class="card__text">
                    <h2>Basic Pickleball Course</h2>
                    <p>To start playing pickleball effectively, it is important to master a basic learning structure. Below is a suggested roadmap to help you build a solid foundation.</p>
                    <a href=""><button>SEE DETAILS</button></a>
                </div>
                <div class="card__img">
                    <img src="/pickleball/images/khoahoc_coban.png" alt="background">

                </div>
            </div>

            <div class="content__card">
                <div class="card__text">
                    <h2>Advanced Pickleball Course</h2>
                    <p>Once you have mastered the basic techniques and understood the rules of the game, progressing to advanced levels requires technical refinement.</p>
                    <a href=""><button>SEE DETAILS</button></a>
                </div>
                <div class="card__img">
                    <img src="/pickleball/images/khoahoc_nangcao.jpg" alt="background">

                </div>
            </div>

            <div class="content__card">
                <div class="card__text">
                    <h2>Pickleball Course for Kids</h2>
                    <p>Teaching pickleball to kids requires a different approach, focusing on fun, simplicity, and small steps to build a foundation.</p>
                    <a href=""><button>SEE DETAILS</button></a>
                </div>
                <div class="card__img">
                    <img src="/pickleball/images/khoahoc_kid.jpg" alt="background">

                </div>
            </div>

            <div class="content__card">
                <div class="card__text">
                    <h2>Competitive Pickleball Course</h2>
                    <p>To compete in pickleball at a high level, learning goes beyond technique and tactics, and must also include the psychological aspect,</p>
                    <a href=""><button>SEE DETAILS</button></a>
                </div>
                <div class="card__img">
                    <img src="/pickleball/images/pickle.jpg" alt="background">

                </div>
            </div>
        </div>
        
        <div class="container__connect">
            <div class="connect__content">
                <h2>Join the King Pickleball student community on Facebook</h2>
                <p>Thousands of others are learning the same path as you. Join in the Q&A, <br>share and support each other as you learn.</p>
                <a href=""><button>Join a group</button></a>
            </div>
            <div class="connect__img"><img src="/pickleball/images/fb-group-cards-CAn_kGMe.png" alt="connect background"></div>
        </div>
    </div><div th:replace="fragments/footer :: footer"></div>

</body>
</html>