<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Pickleball</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/edit.css}">
    <script th:src="@{/js/edit.js}"></script>
</head>
<body>
    <!-- Header -->
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container__background">
            <div class="background--header">
                <img th:src="@{/images/background edit.jpg}" alt="backgroundAboutus" >
            </div>
            <div class="title">
                <h1>EDIT | KING PICKLEBALL VN</h1>
            </div>
    </div>
    <div class="container">
        
        <div class="title--header"><h1>Edit Your Profile</h1></div>
    

        <div class="section">
            <h2>Skills</h2>
            <div id="skillsList">
                <div class="entry">
                    <input type="text" class="skillName" placeholder="Skill Name">
                    <input type="text" class="skillLevel"placeholder="Level">
                    <textarea class="skillDesc" placeholder="Skill Description"></textarea>
                    <button class="edit--btn" onclick="editEntry(this)">Edit</button>
                    <button class="delete--btn" onclick="deleteEntry(this)">Delete</button>
                </div>
            </div>
            <button class="add--btn"onclick="addSkill()">Add Skill</button>
            
        </div>

        <div class="section">
            <h2>Experience</h2>
            <div id="experienceList">
                <div class="entry">
                    <input type="text" class="expName" placeholder="Experience Name">
                    <input type="text" class="expWorkplace"placeholder="Work place">
                    <textarea class="expDesc" placeholder="Experience Description"></textarea>
                    <button class="edit--btn" onclick="editEntry(this)">Edit</button>
                    <button class="delete--btn" onclick="deleteEntry(this)">Delete</button>
                </div>
            </div>
            <button class="add--btn" onclick="addExperience()">Add Experience</button>
        </div>

        <div class="section">
            <h2>Calendar</h2>
            <div id="calendarList">
                <div class="entry">
                    <input type="date" class="calDate">
                    <input type="time" class="calTime" value="08:00" placeholder="Time">
                    <input type="time" class="calEndTime" value="12:00" placeholder="End Time">
                    <button class="edit--btn" onclick="editEntry(this)">Edit</button>
                    <button class="delete--btn"onclick="deleteEntry(this)">Delete</button>
                </div>
            </div>
            <button class="add--btn" onclick="addCalendar()">Add Calendar Entry</button>

        </div>

        <div class="section">
            <h2>Price</h2>
            <div id="priceList">
                <div class="entry">
                    <input type="number" class="priceNumber" placeholder="Enter the price of a lesson">
                    <button class="edit--btn" onclick="editEntry(this)">Edit</button>
                </div>
            </div>
        </div>
        <div class="form-actions"><button class="save--btn" onclick="saveChanges()">Save Changes</button>   </div>
        
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html> 