<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | King Pickleball</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/pickleball/css/register.css">
</head>
<body>
    <div class="login-bg">
        <img src="/pickleball/images/backgroundlogin.png" alt="Background" class="login-bg-img">
    </div>
    <form class="login-form" method="post">
        <a href="./Index.html" class="login-logo">
            <img src="/pickleball/images/logo app.png" alt="Logo">
        </a>
        <h2>REGISTER</h2>
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname" class="input-field" placeholder="Full Name" required>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" class="input-field" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input-field" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" class="input-field" placeholder="Confirm Password" required>
        </div>
        <div class="form-options">
            <label><input type="checkbox" name="agree" required> You are a student</a></label>
            <label><input type="checkbox" name="agree" required> You are a Coach</label>
        </div>
        <button type="submit" class="login-btn" >REGISTER</button>
        <div class="register-link">
            Already have an account?  <a th:href="@{/login}">Login</a> |
        </div>
    </form>
</body>
</html>